<div id="DashBoard-overview" class="container-fluid">
    <div class="col-fluid">
        <uib-tabset active="0">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="glyphicon mdi mdi-calendar-clock text-info"></i><span class="left-margin-5">计划</span>
                </uib-tab-heading>
                <div class="panel panel-default" style="margin-top: -1px;" ng-controller="ScheduleController">
                    <div class="panel-heading">
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入检索词" ng-model="queryWord"
                                           ng-keyup="$event.keyCode == 13 && doQuery(queryWord)">
                                    <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" ng-click="doQuery(queryWord)"><span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				      </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-success" type="button" ng-click="doQuery(queryWord)"><span
                                class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
				      </span>
                                    <input placeholder="请选择时间范围" date-range-picker class="form-control" type="text"
                                           ng-model="dateRange"
                                           options="{eventHandlers: {'apply.daterangepicker': onDateRangeApply}} "
                                           ng-keydown="keydown($event)" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-primary" type="button" href="#/hippo/schedule/detail/new">创建</a>

                                <button class="btn btn-success" type="button" ng-click="enabledList()"
                                        ng-disabled="selectedRows.length == 0">启用
                                </button>
                                <button class="btn btn-danger" type="button" ng-click="disabledList()"
                                        ng-disabled="selectedRows.length == 0">停止
                                </button>
                                <button class="btn btn-danger" type="button" ng-click="remove()"
                                        ng-disabled="selectedRows.length == 0">删除
                                </button>
                            </div>
                            <div class="col-md-3" ng-include="'app/common/pagingBar.html'">
                            </div>
                        </div>
                        <div class="row top-buffer">

                            <div class="col-md-3">
                                <div ng-include="'app/common/flowTypeFilter.html'"></div>
                            </div>
                            <div class="col-md-3">
                                <div ng-include="'app/hippo/common/systemTypeFilter.html'"></div>
                            </div>
                        </div>
                        <div class="row top-buffer">

                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label ng-repeat="tf in tagfacets" style="margin-right: 25px;"><input
                                            type="checkbox" ng-value="'{{tf.name}}'" ng-change="doTagFilter()"
                                            ng-model="tagfilters[tf.name]">
                                        <span class="label" style="color:#fff;background-color:{{tf.color}};">{{tf.name}}({{tf.count}})</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table st-table="rowCollection" st-pipe="fetchPage" class="table">
                            <thead>
                            <tr>
                                <th>
                                    <st-select-all all="rowCollection"></st-select-all>
                                </th>
                                <th st-sort="{{rh.disableSort ? '' : rh.name}}" st-skip-natural="true"
                                    ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
                                <td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]"
                                    ng-if="auxo.isColumnVisible(rh.name)">
                                    <span ng-if="rh.name != 'name' && rh.name != 'flowName'&& (rh.name != 'configurations' || row.schedulerId!='cron')">{{rh.converter(col)}}</span>
                                    <!--<cron-selection template="cronselection-readonly-view.html"-->
                                                    <!--ng-show="rh.name == 'configurations' && row.schedulerId=='cron'"-->
                                                    <!--init="col.cron" edit-disable="true"></cron-selection>-->
                                    <cron-selection template="cronselection-readonly-view.html" ng-show="rh.name == 'configurations' && row.schedulerId=='cron'" ng-model="col.cron" config="{allowMultiple:true, quartz: true}"  edit-disable="true"></cron-selection>

                                    <a ng-if="rh.name == 'name'" href="#/hippo/schedule/detail/{{row.id}}">{{rh.converter(col)}}</a>
                                    <a ng-if="rh.name == 'flowName'" href="#/design/process/{{row.flowId}}/design/edit/dataflow" target="_blank">{{rh.converter(col)}}</a>

                                    <span ng-if="rh == rowHeaders[0]" ng-repeat="t in row.tags" class="label"
                                          style="color:#fff;background-color: {{tagsColorMap[t]}};">{{t}}</span>
                                </td>
                                <td><a href="#/hippo/execute?queryWord=fshId%3D{{row.id}}">执行列表</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </uib-tab>
            <uib-tab index="1" select="auxo.go('/hippo/execute')">
                <uib-tab-heading>
                    <i class="glyphicon mdi mdi-run text-info"></i><span class="left-margin-5">执行</span>
                </uib-tab-heading>
            </uib-tab>

            <uib-tab index="2" select="auxo.go('/hippo/tasks/scheduleanalysis')">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-cog text-info"></i><span class="left-margin-5">分析</span>
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>
    </div>
</div>