<div id="DashBoard-overview" class="container-fluid">
	<div class="col-fluid" ng-controller="UserMainController">
	  <uib-tabset active="active">
	    <uib-tab index="0" select="selectTab('users')" >
	      <uib-tab-heading>
	        <i class="glyphicon mdi mdi-account text-info"></i><span class="left-margin-5">用户</span>
	      </uib-tab-heading>
		<div class="panel panel-default" style="margin-top: -1px;" ng-controller="UserController">
		    <div class="panel-heading">
				<div class="row top-buffer">
				  <div class="col-md-3">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="请输入检索词" ng-model="queryWord" ng-keyup="$event.keyCode == 13 && doQuery(queryWord)">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" ng-click="doQuery(queryWord)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				      </span>
				    </div>
				  </div>
				  <div class="col-md-4">
				    <a class="btn btn-primary" type="button" href="#user/new">创建</a>
<!-- 				    <button class="btn btn-primary" type="button">复制</button>
				    <button class="btn btn-primary" type="button">导入</button>
				    <button class="btn btn-primary" type="button">导出</button> -->
				    <button class="btn btn-success" type="button"  ng-disabled="selectedRows.length == 0">启用</button>
				    <button class="btn btn-danger" type="button" ng-disabled="selectedRows.length == 0">停用</button>
				    <button class="btn btn-danger" type="button" ng-click="remove()" ng-disabled="selectedRows.length == 0">删除</button>
				  </div>
					<div class="col-md-3" ng-include="'app/common/pagingBar.html'">
					</div>
				</div><!-- /1.row -->
		    </div>
			<div class="panel-body">
		      <table st-table="rowCollection" st-pipe="fetchPage" class="table">
					<thead>
					<tr>
						<th><st-select-all all="rowCollection"></st-select-all></th>
						<th st-sort="{{rh.name}}" st-skip-natural="true" ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="row in rowCollection">
						<td cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
						<td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)">
							<span ng-if="rh.name != 'name'">{{rh.converter(col)}}</span>
							<a ng-if="rh.name == 'name'" href="#user/{{row.id}}">{{rh.converter(col)}}</a>
							<!-- <tags ng-show="rh == rowHeaders[0]" options="{addable: false}" model="row.tags" src="s as s.name for s in tags"></tags> -->
							<span ng-if="rh == rowHeaders[0]" ng-repeat="t in row.tags" class="label" style="color:#fff;background-color: {{tagsColorMap[t]}};">{{t}}</span>
						</td>
					</tr>
					</tbody>
				</table>				
			</div>
		</div>
		
    	
	    </uib-tab>
	    <uib-tab index="1" select="selectTab('roles')" >
	      <uib-tab-heading>
	        <i class="glyphicon mdi mdi-run text-info"></i><span class="left-margin-5">角色</span>
	      </uib-tab-heading>
		<div class="panel panel-default" style="margin-top: -1px;" ng-controller="RoleController">
		    <div class="panel-heading">
				<div class="row top-buffer">
				  <div class="col-md-3">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="请输入检索词" ng-model="queryWord" ng-keyup="$event.keyCode == 13 && doQuery(queryWord)">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" ng-click="doQuery(queryWord)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				      </span>
				    </div>
				  </div>
				  <div class="col-md-2">
				    <button class="btn btn-danger" type="button" ng-disabled="true">停用</button>
				    <button class="btn btn-danger" type="button" ng-disabled="true">删除</button>
				  </div>
					<div class="col-md-3" ng-include="'app/common/pagingBar.html'">
					</div>
				</div><!-- /1.row -->
		    </div>
			<div class="panel-body">
		      <table st-table="rowCollection" st-pipe="fetchPage" class="table">
					<thead>
					<tr>
						<th><st-select-all all="rowCollection"></st-select-all></th>
						<th st-sort="{{rh.name}}" st-skip-natural="true" ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="row in rowCollection">
						<td cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
						<td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)">
							<span ng-if="rh.name != 'status'">{{rh.converter(col)}}</span>
							<!-- <tags ng-show="rh == rowHeaders[0]" options="{addable: false}" model="row.tags" src="s as s.name for s in tags"></tags> -->
							<uib-progressbar ng-if="rh.name == 'status'" class="progress-striped {{col.type == 'RUNNING' ? 'active':''}}" max="col.estimateTotal" value="col.processed" type="{{statusColor(col)}}" style="margin-bottom: 0px;"><i>{{rh.converter(col)}}</i></uib-progressbar></div>
							<span ng-if="rh == rowHeaders[0]" ng-repeat="t in row.tags" class="label" style="color:#fff;background-color: {{tagsColorMap[t]}};">{{t}}</span>
						</td>
					</tr>
					</tbody>
				</table>				
			</div>
		</div>
		
    	
	    </uib-tab>	    
	  </uib-tabset>
	</div>
</div>