<div class="panel-body">

    <div class="panel panel-default" style="margin-top: -1px;">
        <div class="panel-heading">
            <div class="row top-buffer">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入检索词" ng-model="queryWord" ng-keyup="$event.keyCode == 13 && doQuery(queryWord)">
                        <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" ng-click="doQuery(queryWord)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				      </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-success" type="button" ng-click="doQuery(queryWord)"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
				      </span>
                        <input placeholder="请选择时间范围" date-range-picker class="form-control" type="text" ng-model="dateRange"
                               options="{eventHandlers: {'apply.daterangepicker': onDateRangeApply2}} "
                               ng-keydown="keydown($event)"  readonly="readonly" />
                    </div>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-danger" type="button" ng-click="killExecution()" ng-disabled="selectedRows.length == 0">停止</button>
                    <button class="btn btn-danger" ng-click="remove()" ng-disabled="selectedRows.length == 0">删除</button>
                    <button class="btn btn-danger"  ng-click="rerunExecution()" ng-disabled="selectedRows.length == 0">重启</button>
                </div>
                <div class="col-md-3" ng-include="'app/common/pagingBar.html'">
                </div>
            </div><!-- /1.row -->
        </div>
        <div class="panel-body">
            <table st-table="rowCollection" st-pipe="fetchPage" class="table">
                <thead>
                <tr>
                    <th><st-select-all all="rowCollection"></st-select-all></th>
                    <th st-sort="{{rh.disableSort ? '' : rh.name}}" st-skip-natural="true" ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rowCollection" class="xs_wrap">
                    <td cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
                    <td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)">
                        <span ng-if="['flowSchedulerName','flowName','status','name'].indexOf(rh.name)<0 || rh.sortName == 'status_cost'">{{rh.converter(col)}}</span>
                        <!-- <a ng-if="rh.name == 'name'" href="#monitor/{{row.id | escapeUri}}/{{tab.status}}">{{rh.converter(col)}}</a> -->
                        <!-- <a ng-if="rh.name == 'name'" href="#design/process/{{ id }}/execution/{{row.id | escapeUri}}/{{tab.status}}">{{rh.converter(col)}}</a> -->
                        <a ng-if="rh.name == 'name'" href="#/design/process/{{ id }}/execution/{{row.id | escapeUri}}">{{rh.converter(col)}}</a>
                        <a ng-if="rh.name == 'flowName'" href="#/design/process/{{row.flowId}}/design/edit/dataflow" target="_blank">{{rh.converter(col)}}</a>
                        <a ng-if="rh.name == 'flowSchedulerName'" href="#/schedule/{{row.flowSchedulerId}}">{{rh.converter(col)}}</a>

                        <!-- <tags ng-show="rh == rowHeaders[0]" options="{addable: false}" model="row.tags" src="s as s.name for s in tags"></tags> -->
                        <uib-progressbar ng-if="rh.name == 'status' && rh.sortName != 'status_cost'" class="progress-striped {{col['type'] == 'RUNNING' ? 'active':''}}" max="col.estimateTotal" value="col.processed" type="{{statusColor(col)}}" style="margin-bottom: 0px;min-width: 50px"><i>{{rh.converter(col)}}</i></uib-progressbar>
                        <span ng-if="rh == rowHeaders[0]" ng-repeat="t in row.tags" class="label" style="color:#fff;background-color: {{tagsColorMap[t]}};">{{t}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>