<div class="DraggableList">

    <div class="col-md-6" style="padding-left: 0; padding-right: 0;" >
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"> {{leftList.label}}
                    <a data-ng-if="!isInput" class="btn pull-right" style="padding-top: 0px; padding-right: 0" data-ng-click="refreshData()"><span class = "glyphicon glyphicon-refresh pull-right" style="padding-left: 10px"></span></a>

                    <span ng-show="inputData.multiple" class="pull-right" style="padding: 2px 3px" >全选</span>
                    <input ng-show="inputData.multiple" type="checkbox" data-ng-model="allSelected" class="pull-right" data-ng-click="selectAll()" />
                </h3>
            </div>
            <div class="panel-body"  ng-style="{'max-height':'{{windowHeight-450}}px', 'overflow-y': 'auto'} ">
                <ul dnd-list="leftList.items"
                    dnd-allowed-types="leftList.allowedTypes"
                    dnd-drop="">
                    <li ng-repeat="item in leftList.items" ng-show="item.visible"
                        dnd-draggable="getSelectedItemsIncluding(leftList, item)"
                        dnd-type="item.type"
                        dnd-effect-allowed="copy"
                        dnd-copied=""
                        dnd-selected="onSelected('left', item,event)"
                        ng-class="{'selected': item.selected}"
                        style="padding: 10px 5px; overflow:hidden; text-overflow: ellipsis;  "
                    >
                       <span uib-tooltip="{{item.column}}"> {{$index+1}}.&nbsp;{{item.column}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding-left: 15px; padding-right: 0;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"> {{rightList.label}}
                    <a class="btn pull-right" style="padding-top: 0px;" data-ng-click="deleteAll()"><span class="glyphicon glyphicon-remove icon-red" style="margin-right: 3px;"></span>删除全部</a>
                    <!--<a class="btn pull-right" style="padding-top: 0px;" data-ng-click="deleteInvalid()"><span class="glyphicon glyphicon-remove icon-red" style="margin-right: 3px;"></span>删除非法字段</a>-->
                </h3>
            </div>
            <div class="panel-body col-sm-12"  ng-style="{'max-height':'{{windowHeight-450}}px', 'overflow-y': 'auto'} ">
                <ul class="col-sm-12" dnd-list="rightList.items" dnd-drop="onDrop(rightList, item, index)" >
                    <li ng-repeat="item in rightList.items"
                        dnd-draggable="getSelectedItemsIncluding(rightList, item)"
                        dnd-moved="onMoved(rightList)"
                        dnd-effect-allowed="move"
                        dnd-disable-if="dragDisabled"
                        dnd-dragend="rightList.dragging = false"
                        dnd-selected="onSelected('right',item,event)"
                        ng-class="{'selected': item.selected}"
                        ng-hide="rightList.dragging && item.selected"
                        data-ng-mousedown="mouseDown($event)"
                        class="row clearfix"
                        style="padding: 2px 0px"
                    >
                        <div class="" style="padding: 1px;">
                            <div class="col-sm-2" style="padding: 6px 5px 5px 6px;">
                                {{$index+1}}.
                            </div>
                            <div class="col-sm-7" style="padding: 6px 5px 5px 2px;" >
                                <div style="overflow: hidden; text-overflow: ellipsis; " ng-style="!item.valid && {'color': 'red'}">
                                    <span uib-tooltip="{{item.column}}">{{item.column}}</span>
                                </div>
                            </div>
                            <div class="col-sm-1 input-group-btn"  >
                                <a  class="btn " data-ng-model="item.alias" ng-click="deleteItem($index)">
                                <span class="glyphicon glyphicon-remove icon-red"></span> </a>
                            </div>
                            <!--<div class="col-sm-6 input-group">-->
                                <!--<input  class="form-control" id="item-{{$index}}"-->
                                        <!--ng-model="item.alias"-->
                                        <!--ng-change="onChange(item)"-->
                                        <!--data-ng-mousedown="mouseDown($event)"-->
                                        <!--normal-word-validation-->
                                        <!--type="text"  placeholder="别名">-->
                                <!--<div class="input-group-btn"  >-->
                                    <!--<a  class="btn " data-ng-model="item.alias" ng-click="deleteItem($index)">-->
                                        <!--<span class="glyphicon glyphicon-remove icon-red"></span> </a>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="clear" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 no-padding" style="">
        <h5 style="color: #0a0a0a;">提示：点击单选；多选需同时按下Ctrl或者Shift；拖动左边列表选中项到右边，即完成添加；调整右边列表顺序，需拖动选中项到目标位置。</h5>
    </div>

</div>