<div id="DashBoard-overview" class="container-fluid" ng-controller="dataListController">
    <div class="col-fluid">
        <div class="row">
            <div class="form-inline" style="margin-left: 20px;font-size: 20px;margin-bottom: 20px;min-width: 1200px">
                <span style="margin-right:50px">总数据量:<label data-ng-model="allData">{{allCount}}</label></span>
                <span style="margin-right:50px">对接部门数量:<label data-ng-model="allDepartment">{{allDepartment}}个</label></span>
                <span style="margin-right:50px">对接系统数量:<label data-ng-model="allSystem">{{allSystem}}个</label></span>
                <span style="margin-right:50px">数据集数量:<label data-ng-model="allSystem">{{allDatasetCount}}</label></span>
                <button class="btn btn-primary right-margin-2" type="button" ng-click="setTime()">设置</button>
            </div>
        </div>
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h1 class="panel-title" style="font-size: 20px">{{name}}</h1>
            </div>
            <div class="auto-small-div">
                <div  ng-repeat="item in data " style="height: 250px;border: solid #797979 1px;margin: 20px;width: 250px;padding: 10px" id={{item.name}}>
                    <p><label style="cursor:pointer;" ng-click="linkDepartment(item)">{{item.name}}</label></p>
                    <label style="font-weight: normal;margin-top: 0px;margin-bottom: 0px">对接系统：{{item.children.length}}</label>
                    <label style="font-weight: normal;margin-top: 0px;margin-left: 5px;margin-bottom: 0px">总数据量：{{item.count}}</label>
                    <label style="font-weight: normal;margin-top: 0px;margin-bottom: 0px">数据集数：{{item.datasets}}</label>
                    <div treecontrol class="tree-light"
                         tree-model="item"
                         options="treeOptions"
                         on-selection="showSystem2(node, selected, $parentNode,$path)"
                         selected-node="node1" style="overflow: auto;width: 235px;height: 150px;margin-left: -20px;max-height: 235px;margin-top:5px" >
                        <!--{{node.name}} {{node.system }} {{node.count == 0 || node.count > 0?"数据总量":""}} {{node.count == 0 ? "0":node.count}}{{node.dataset_count >= 0?"数据总量"+ node.dataset_count:""}} {{node.children?"数据集数:":""}}{{node.datasets == 0 ? 0:node.datasets}}-->
                        {{node.name}} {{node.system }} {{node.count == 0 || node.count > 0?"数据总量":""}} {{node.count == 0 ? "0":node.count}}{{node.dataset_count >= 0?"数据总量"+ node.dataset_count:""}} 数据集数{{node.datasets == 0 ? 0:node.datasets}}
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>