<p class="input-group">
    <input type="text" name="{{data.dataSource.name}}"
           ng-model="data.dataSource.name"
           placeholder={{initTitle}} ng-readonly="disableEdit"
           ng-disabled="true"
           class="form-control warning_placeholder"
           readonly required>
    <span class="input-group-btn">
      <button type="button"
              class="btn btn-default ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-touched"
              root-dir={{rootDir}}
              ng-disabled="disableEdit"
              keyword={{keyWord}}
              ng-model="data.dataSource.name"
              select-mode="single"
              on-select-changed="onSelectChanged(data)"
              hippo-selector>
           <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
</p>