<div  class="container-fluid no-padding">
    <div class="col-fluid">
        <uib-tabset active="0">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="iconfont icon-users text-info"></i><span class="left-margin-5">租户</span>
                </uib-tab-heading>

                <div class="panel panel-default" style="margin-top: -1px;" ng-controller="TenantsController" >
                    <div class="panel-heading">
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入检索词" ng-model="queryWord" ng-keyup="$event.keyCode == 13 && doQuery(queryWord)">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" ng-click="doQuery(queryWord)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				      </span>
                                </div>
                            </div>
                             <div class="col-md-3">
				   				 <div class="input-group">
                                 <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" ><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
                                 </span>
				     			 <input placeholder="请选择时间范围" date-range-picker class="form-control" type="text" ng-model="dateRange"  
				     			 		options="{eventHandlers: {'apply.daterangepicker': onDateRangeApply}} "
				     			 		ng-keydown="keydown($event)"  readonly="readonly" /> 
				   				 </div>
				  			</div>
                            <div class="col-md-3">
                                <a class="btn btn-primary" type="button" ui-sref="tenant_detail({id:'new'})" >创建</a>
                                <button class="btn btn-success" type="button"  ng-click="enabledList()" ng-disabled="selectedRows.length == 0">启用</button>
                                <button class="btn btn-danger" type="button" ng-click="disabledList()" ng-disabled="selectedRows.length == 0">停用</button>
                            </div>
                            <div class="col-md-3" ng-include="'app/common/pagingBar.html'">
                            </div>
                        <!-- /1.row -->
                        <!-- 2.row -->

                    </div>
                    </div>
                    <div class="panel-body">
                        <table st-table="rowCollection" st-pipe="fetchPage" class="table">
                            <thead>
                            <tr>
                                <th><st-select-all all="rowCollection"></st-select-all></th>
                                <th st-sort="{{rh.name}}" st-skip-natural="true" ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td ng-if="isCheckEnabled(row)" cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
                                <td ng-if="!isCheckEnabled(row)"></td>
                                <td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)">
                                    <span ng-if="!isLinkEnabled(rh.name,row)">{{rh.converter(col)}}</span>
                                    <a ng-if="isLinkEnabled(rh.name,row)" ui-sref="tenant_detail({id:row.id})" >{{rh.converter(col)}}</a>
                                    <!-- <tags ng-show="rh == rowHeaders[0]" options="{addable: false}" model="row.tags" src="s as s.name for s in tags"></tags> -->
                                    <span ng-if="rh == rowHeaders[0]" ng-repeat="t in row.tags" class="label" style="color:#fff;background-color: {{tagsColorMap[t]}};">{{t}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>