    <form ng-submit="changePassword()" name="changePasswordForm" role="form" class="form-horizontal">

        <div class="form-group" >
            <label for="presentPassword" class="control-label col-sm-2">当前密码</label>
            <div class="col-sm-10"><input type="password" data-ng-model="presentPassword" placeholder="当前密码" name="presentPassword"
                                          required  class="form-control" >

            </div>
            <div class=" col-sm-12" ng-show="changePasswordForm.presentPassword.$invalid && old_password_form.presentPassword.$dirty"  >
                <div class="control-label col-sm-2"> </div>
                <div class="col-sm-10 "  style="color: red; padding-left: 30px;">这是必填项</div>
            </div>
        </div>

        <div class="form-group"><label for="password" class="control-label col-sm-2">新密码</label>
            <div class="col-sm-10"><input type="password" data-ng-model="password" placeholder="新密码" name="password"
                                          required data-ng-minlength="6" data-ng-maxlength="32" class="form-control" ></div>
            <div class="col-sm-10" ng-show="changePasswordForm.password.$invalid && changePasswordForm.password.$dirty"  >
                <div class="control-label col-sm-2"> </div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.password.$error.required">这是必填项</div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.password.$error.minlength">长度至少6个字符</div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.password.$error.maxlength">长度至多32个字符</div>
            </div>
        </div>



        <div class="form-group" ><label for="confirmPassword" class="control-label col-sm-2">确认密码</label>
            <div class="col-sm-10"><input type="password" data-ng-model="confirmPassword" placeholder="请再次输入密码" name="confirmPassword"
                                          required data-ng-minlength="6"  data-ng-maxlength="32" pw-check="password" class="form-control" ></div>
            <div ng-show="!changePasswordForm.confirmPassword.$pristine && tagName.confirmPassword.$valid">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>

            <!--<div ng-show="!changePasswordForm.confirmPassword.$pristine && changePasswordForm.confirmPassword.$invalid">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>aa
            </div>-->
            <div class="col-sm-10" ng-show="changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty"  >
                <div class="control-label col-sm-2"> </div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.confirmPassword.$error.required">这是必填项</div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.confirmPassword.$error.minlength">长度至少6个字符</div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.confirmPassword.$error.maxlength">长度至多32个字符</div>
                <div class="col-sm-8" style="color: red; padding-left: 30px;" ng-show="changePasswordForm.confirmPassword.$error.passwordMatch">两次密码不一致</div>
            </div>
        </div>
       <div class="col-sm-12" ng-show="changePasswordError">
          <br>
          <uib-alert type="danger">{{changePasswordError}}</uib-alert>
       </div>
    </form>
