<div class="panel panel-default" ng-controller="DataPreviewController">
    <div class="panel panel-success">
        <div class="panel-heading">预览数据
            <button class="btn btn-success glyphicon glyphicon-refresh" ng-click="doRefreshPreview()">刷新</button>
        </div>
    </div>
    <div class="panel-body"  ng-style="{'max-height':'{{windowHeight-300}}px', 'overflow': 'auto'} ">
        <div class="form-group" ng-show="previewLoading">
            <div class="col-md-12 text-center">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
        </div>
        <div ng-show="previewError">
            <uib-alert type="danger">加载失败:{{previewError.err}}</uib-alert>
        </div>
        <table ng-show="!previewLoading && !previewError" st-table="rowCollection" class="table">
            <thead>
            <tr>
                <th ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollection">
                <td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)"><span>{{col}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>