<div id="DashBoard-overview" class="container-fluid" >
    <div class="col-fluid" >
        <uib-tabset active="1">
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="glyphicon mdi mdi-run text-info"></i><span class="left-margin-5">{{data.name}}任务列表</span>
                </uib-tab-heading>
                <div class="panel panel-default" style="margin-top: -1px;" ng-controller="CollectorExecController">
                    <div class="panel-heading">
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <button class="btn btn-danger" type="button" ng-click="killExecution(selectedRows)" ng-disabled="selectedRows.length == 0"><i class="icon icon-remove-circle">&nbsp;</i>终止</button>
                                <button class="btn btn-success" type="button" ng-click="refresh()" ><i class="glyphicon glyphicon-refresh"></i>刷新</button>
                            </div>

                            <div class="col-md-7" ng-include="'app/common/pagingBar.html'">
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <table st-table="rowCollection" st-pipe="fetchPage" class="table">
                            <thead>
                            <tr>
                                <th><st-select-all all="rowCollection"></st-select-all></th>
                                <th st-sort="{{rh.disableSort ? '' : rh.name}}" st-skip-natural="true" ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
                                <td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)">
                                    <span ng-if="['flowShedulerName','flowName','name'].indexOf(rh.name)<0">{{rh.converter(col)}}</span>
                                    <a ng-if="rh.name == 'name'" href="#execute/{{row.id | escapeUri}}">{{rh.converter(col)}}</a>
                                    <a ng-if="rh.name == 'flowName'" href="#/designer/dataflow/{{row.flowId}}/edit/dataflow" target="_blank">{{rh.converter(col)}}</a>
                                    <a ng-if="rh.name == 'flowShedulerName'" href="#/schedule/{{row.flowShedulerId}}" target="_blank">{{rh.converter(col)}}</a>

                                    <!-- <tags ng-show="rh == rowHeaders[0]" options="{addable: false}" model="row.tags" src="s as s.name for s in tags"></tags> -->
                                    <!--<uib-progressbar ng-if="rh.name == 'status'" class="progress-striped {{col.stype == 'RUNNING' ? 'active':''}}" max="col.estimateTotal" value="col.processed" type="{{statusColor(col)}}" style="margin-bottom: 0px;"><i>{{rh.converter(col)}}</i></uib-progressbar>-->
                                    <span ng-if="rh == rowHeaders[0]" ng-repeat="t in row.tags" class="label" style="color:#fff;background-color: {{tagsColorMap[t]}};">{{t}}</span>
                                </td>
                                <td><a href="" ng-click="taskLog(row)">查看日志</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-warning"  ng-click="back()"><i class="icon icon-reply">&nbsp;</i>返回</button>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
