<div id="DashBoard-overview" class="container-fluid"   ng-controller="CollectorController">
    <div class="col-fluid" >
        <uib-tabset active="0">
            <uib-tab index="0"  >
                <uib-tab-heading>
                    <i class="icon icon-cloud-download"></i><span class="left-margin-5">采集器</span>
                </uib-tab-heading>
                <div class="panel panel-default" style="margin-top: -1px;">
                    <div class="panel-heading">
                        <div class="row top-buffer">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入检索词" ng-model="queryWord" ng-keyup="$event.keyCode == 13 && doQuery(queryWord)">
                                    <span class="input-group-btn">
				                    <button class="btn btn-primary" type="button" ng-click="doQuery(queryWord)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="button"  ng-click="registered()"><i class="iconfont icon-built"></i>注册</button>
                                <button class="btn btn-primary" type="button"  ng-click="edit()" ng-disabled="selectedRows.length > 1 || selectedRows.length == 0"><i class="iconfont icon-edit">&nbsp;</i>编辑</button>
                                <button class="btn btn-danger" type="button" ng-click="remove(selectedRows)" ng-disabled="selectedRows.length == 0"><i class="icon icon-trash">&nbsp;</i>删除</button>
                                <button class="btn btn-success" type="button"  ng-click="upgrade()" ng-disabled="selectedRows.length > 1 || selectedRows.length == 0"><i class="icon icon-upload">&nbsp;</i>升级</button>
                            </div>
                            <div class="col-md-3" ng-include="'app/common/pagingBar.html'">
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-9">
                                <div class="checkbox">
                                    <label ng-repeat="tf in tagfacets" style="margin-right: 25px;"><input type="checkbox" value="{{tf.name}}" ng-change="doTagFilter()" ng-model="tagfilters[tf.name]">
                                        <span class="label" style="color:#fff;background-color:{{tf.color}};">{{tf.name}}({{tf.count}})</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table st-table="rowCollection" st-pipe="fetchPage" class="table">
                            <thead>
                            <tr>
                                <th><st-select-all all="rowCollection"></st-select-all></th>
                                <th st-sort= "{{rh.disableSort ? '' : rh.name}}" st-skip-natural="true" ng-repeat="rh in rowHeaders" ng-if="auxo.isColumnVisible(rh.name)">{{rh.disName}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td cs-select="row" rows="rowCollection" selected-rows="selectedRows"></td>
                                <td ng-repeat="rh in rowHeaders" ng-init="col=row[rh.name]" ng-if="auxo.isColumnVisible(rh.name)">
                                    <span ng-if="['id'].indexOf(rh.name)<0 && rh.name != 'status'">{{rh.converter(col)}}</span>
                                    <!--<a ng-if="rh.name == 'id'" href="#/collector/{{row.id}}" ng-click="">{{rh.converter(col)}}</a>-->
                                    <a ng-if="row['status'] == 1 && rh.name == 'id'" href="#/collector/{{row.id}}">{{rh.converter(col)}}</a>
                                    <a ng-if="row['status'] == 1 && rh.name == 'status'" style="background-color:#5cb85c;padding:4px;"><font color="white" size="2px">ONLINE</font></a>
                                    <span ng-if="row['status'] != 1 && rh.name == 'id'" >{{rh.converter(col)}}</span>
                                    <span ng-if="row['status'] == 0 && rh.name == 'status'" style="background-color:#d9534f;padding:4px;"><font color="white" size="2px">OFFLINE</font></span>
                                    <span ng-if="row['status'] == -1 && rh.name == 'status'" style="background-color:#337ab7;padding:4px;"><font color="white" size="2px">NOAUTH</font></span>
                                </td>
                                <td>
                                    <!--<a ui-sref = "resourceMan_toExpandedNodes({toExpandedNodes: ['{{id1}}','{{id2}}',row.resourceId]})"  target="_blank" >资源目录</a>-->
                                    <a href="" ng-click="addDir(row)"  >资源目录</a>
                                </td>
                                <td><a href="" ng-click="taskLog(row)">查看日志</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" select="go()" >
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-import"></i><span class="left-margin-5">导入任务</span>
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
